
*{
    margin: 0;
    margin-top: 1px;
    margin-left: 1px;
    padding: 0;
    border-radius: 2px;
    text-align: center;
    font-weight: 900;
}
.fundo{
    display: flex;
    position: absolute;
    height: inherit;
    background-color:lightcoral;
}
.fundoRightSide{
    display: flex;
    flex-direction: column;
}
.score{
    color:white;
    background-color: green;
}
.records{    
    flex: 1;/*pega o restante da tela*/

    display: flex;
    flex-direction: column;
    color: white;    
    background-color: red;    
}
.recordInput{
    /*max-width: 10px;
    text-align: right;*/
}